.builder-wrapper {
  .tabs-nav {
    .tabs {
      border-bottom: 1px solid #ededed;
      .tab {
        font-size: 30px;
        font-weight: 400;
        padding: 0rem 0.8rem;
        padding-bottom: 0.5rem;
        border: 4px solid transparent;
        color: #d7d7d7;
        &.active {
          color: #333;
          border-bottom: 4px solid gray;
        }
      }
    }
  }
}
