/* VARIABLES */
/* ======================= */

// weights
.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-900 {
  font-weight: 900;
}


//font-sizes

.fs-20{
  font-size: 20px;
}

.fs-25{
  font-size: 25px;
}

.fs-30{
  font-size: 30px;
}

.fs-35{
  font-size: 35px;
}

.fs-37{
  font-size: 37px;
}


//General Global STYLES
.pointer {
  cursor: pointer;
}

.smoothen-transition{
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  *{
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
}
